<p id="notice"><%= notice %></p>

<p>
  <b><%= t("activerecord.attributes.student.name")%>:</b>
  <%= @student.name %>
</p>

<p>
  <b><%= t("activerecord.attributes.student.age")%>:</b>
  <%= @student.age %>
</p>

<p>
  <b><%= t("activerecord.attributes.student.team")%>:</b>
  <%= @student.team.name %>
</p>

<%= link_to t('edit'), edit_student_path(@student) %> |
<%= link_to t('back'), students_path %>
