<%= form_for(@lesson) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, t("error")) %></h2>

      <ul>
      <% @lesson.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team %><br />
    <%= select("lesson", "team_id", Team.all.collect {|p| [ p.name, p.id ] }) %>
  </div>
  <div class="field">
    <%= f.label :subject %><br />
    <%= select("lesson", "subject_id", Subject.all.collect {|p| [ p.name, p.id ] }) %>
  </div>
  <div class="field">
    <%= f.label :teacher %><br />
    <%= select("lesson", "teacher_id", Teacher.all.collect {|p| [ p.name, p.id ] }) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>