<p id="notice"><%= notice %></p>

<p>
  <b><%= t("activerecord.attributes.teacher.name")%>:</b>
  <%= @teacher.name %>
</p>

<p>
  <b><%= t("activerecord.attributes.teacher.age")%>:</b>
  <%= @teacher.age %>
</p>


<%= link_to t('edit'), edit_teacher_path(@teacher) %> |
<%= link_to t('back'), teachers_path %>
